/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
  
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}
  
.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.navbar li {
  margin: 0 15px;
}
  
.navbar a {
  color: black; /* Default text color */
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Add some padding for better hover effect */
  border-radius: 5px; /* Optional: Rounded corners for hover effect */
}
  
.navbar a:hover {
  background-color: lightblue; /* Background turns blue on hover */
  color: white; /* Text turns white on hover */
}
  
.navbar-custom {
  background-color: #F1DDCA;
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f4f4f4;
  text-align: center;
}
  
.company-banner {
  margin-top: 20px;
}
  
.company-banner img {
  max-width: 100px;
  margin: 0 10px;
}
  
/* Section Styles */
section {
  padding: 100px 20px;
  text-align: center;
}
  
#about, #features, #testimonials, #contact {
  background-color: #f9f9f9;
  margin-top: 50px;
}